%h2 Complete Vaccination Record
%table#child
  %thead
    %tr
      %th Polio1
      %th Polio2
      %th Polio3
      %th Polio4	
      %th Measles1
      %th Measles2	
  %tbody
    %tr    
      %td= @child.polio_1
      %td= @child.polio_2
      %td= @child.polio_3
      %td= @child.polio_4
      %td= @child.measles_1
      %td= @child.measles_2
 
