%h2 Welcome

= @name
%br
= link_to "Logout", logout_path
%br
= link_to "Get Child Info", child_info_show_path
%br
= link_to "family Planning Info", famliy_planning_info_show_path
%br
= link_to "Get Pregnant Women Info", pregnant_women_info_show_path
%br
= link_to "Add a Child", child_info_new_path
%br
= link_to "Add a Pregnant Women", pregnant_women_info_new_path
%br
= link_to "Add a Family Planning", famliy_planning_info_new_path
%br
= link_to "Generate Monthly Report", reports_index_path
